$activeNav: #2468ff;
$fontShadowColor: #f8b304;
$standartBackgroundColor: rgba(1, 1, 1, 0.5);
$lightBackgroundColor: rgba(190, 190, 190, 0.4);
$standartFontColor: white;
$btnBackgroundColor: #3fd21e;
$btnFontColor: white;
$winColor: #3fd21e;
