@use "../styles/index" as *;

.content {
  @include standartBlock();

  h1 {
    margin: 0 0 1rem 0;
  }

  h3 {
    margin: 0 0 3rem 0;
  }

  .ant-form {
    position: relative;
    width: 100%;

    .ant-select,
    .ant-picker {
      width: 100% !important;
      //   flex-grow: 1 !important;
    }
  }

  .ant-form-item .ant-form-item-label > label {
    color: white !important;
  }
}
